
body{
	background-image: url("images/def.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	image-rendering: 200%;
    padding-right: 345px;

}
div.logincss {
	max-width: 420px;
    padding: 40px 38px 66px;
    margin: 0 auto;
    margin-top: 28px;
    border-style: solid;
    padding-top: 95px;
}
.carousel-inner > .item > img {
  width:640px;
  height:400px;
  margin-top:55px;
}

.box{
	padding-right: 359px;
}
a {
    color: #8f4731;
    text-decoration: none;
    text-decoration-color: white;
}
button{
color: #8f4731;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
