
<div class=" logincss">
   <ul class="nav nav-tabs">
                  <li class="active"><a ng-href="#/signin" data-target="#signin" data-toggle="tab">Login</a></li>
                  <li><a ng-href="#/signup" data-target="#signup" data-toggle="tab">Signup</a></li>
               </ul><br>

               <form class="form-horizontal,logincss" id="validateForm" name="userForm" novalidate>
              <div class="tab-content">
                <div id="" class="tab-pane fade in active">
                <h2><center><a href="#/signin"> Login</a></center></h2><hr>

<!--USERname-->
                <div class="input-group" ng-class="{'has-error' : userForm.Username.$invalid && (userForm.Username.$dirty||submitted)}">
                  <span class="input-group-addon">
                 <i class="glyphicon glyphicon-user"></i></span>
                  <input type ="text"   placeholder ="Enter User name" class="form-control" ng-model="Username" name="uname"  ng-required="true">

                  <p ng-show="userForm.Username.$error.required && (userForm.Username.$dirty || submitted)" class="help-block">You username is required.</p>
                   
                </div><br>

<!--PASSWORD-->
                <div class="input-group" ng-class="{ 'has-error' : userForm.password.$invalid && (userForm.pwd.$dirty || submitted)}">
                  <span class="input-group-addon">
                   <i class="glyphicon glyphicon-lock"></i></span>
                 
                  <input type ="password"  placeholder ="Enter Password" class="form-control" ng-model="pwd"   ng-required="true">
                  <p ng-show="userForm.pwd.$error.required && (userForm.pwd.$dirty || submitted)" class="help-block">Your password is required.</p>

                </div> <br>

<!--CHECKBOX-->

                  <div  class="checkbox">
                  <label><input type="checkbox" checked> Remember me</label>
                  </div>

<!--BTN-->
                  <a href="#forgot" data-toggle="modal"><span></span> Forgot Password</a>
                  <button class="btn btn-primary pull-right" ng-click="loginUser()"> Login</a></button>
                    </div>


            </div>
          </form>
</div>
                     