
<div class=" logincss">
   <ul class="nav nav-tabs">
                  <li class="active"><a ng-href="#/signin" data-target="#signin" data-toggle="tab">Login</a></li>
                  <li><a ng-href="#/signup" data-target="#signup" data-toggle="tab">Signup</a></li>
               </ul><br>

               <form class="form-horizontal,logincss" id="validateForm" name="userForm" novalidate>
              <div class="tab-content">
                <div id="" class="tab-pane fade in active">
                <h2><center><a href="#/signin"> Login</a></center></h2><hr>

<!--USERNAME-->
                <div class="input-group" ng-class="{'has-error' : userForm.UserName.$invalid && (userForm.UserName.$dirty||submitted)}">
                  <span class="input-group-addon">
                 <i class="glyphicon glyphicon-user"></i></span>

                  <input type ="text" name="UserName"  placeholder ="Enter User Name" class="form-control" ng-model="UserName" id="uname" ng-minlength="4" ng-maxlength="8" ng-required="true">

                  <p ng-show="userForm.UserName.$error.required && (userForm.UserName.$dirty || submitted)" class="help-block">You username is required.</p>
                   <!-- <p ng-show="userForm.username.$error.minlength && (userForm.username.$dirty || submitted)" class="help-block">Username is too short.</p>
                   <p ng-show="userForm.username.$error.maxlength && (userForm.username.$dirty || submitted)" class="help-block">Username is too long.</p> -->
                </div><br>

<!--PASSWORD-->
                <div class="input-group" ng-class="{ 'has-error' : userForm.password.$invalid && (userForm.password.$dirty || submitted)}">
                  <span class="input-group-addon">
                   <i class="glyphicon glyphicon-lock"></i></span>
                 
                  <input type ="password" name="password" placeholder ="Enter Password" class="form-control" ng-model="password" id="pwd"  ng-required="true">
                  <p ng-show="userForm.password.$error.required && (userForm.password.$dirty || submitted)" class="help-block">Your password is required.</p>

                </div> <br>

<!--CHECKBOX-->
                <div  class="checkbox">
                  <label><input type="checkbox" checked> Remember me</label>
                  </div>

<!--BTN-->
                  <a href="#forgot" data-toggle="modal"><span></span> Forgot Password</a>
                  <button class="btn btn-primary pull-right" ng-click="login()"> Login</a></button>
                    </div>


              <div id="signup" class="tab-pane fade">
                <h2><center>Sign Up</center></h2><hr>
              </div>
            </div>
          </form>
</div>
                     