   <!---registration- -->
 <div class=" logincss">
   <ul class="nav nav-tabs">
                  <li class="active"><a ng-href="#/signin" data-target="#signin" data-toggle="tab">Login</a></li>
                  <li><a ng-href="#/signup" data-target="#signup" data-toggle="tab">Signup</a></li>
               </ul><br>
   <form class="form-horizontal,logincss" id="validateForm" name="userForm" novalidate>
              <div class="tab-content">
                <div id="" class="tab-pane fade in active">
                <h2><center><a href="#/signup"> Signup</a></center></h2><hr>



                <!--firstname-->


                <div class="input-group" ng-class="{'has-error' : userForm.firstname.$invalid && (userForm.firstname.$dirty||submitted)}">
                  <span class="input-group-addon">
                 <i class="glyphicon glyphicon-user"></i></span>
                 
                  <input type ="text" name="firstname"  placeholder ="Enter First name" class="form-control" ng-model="firstname"   required>

                  <p ng-show="userForm.firstname.$error.required && (userForm.firstname.$dirty || submitted)" class="help-block"></p>
                   
                </div> <br>

                <!--lastname-->


                <div class="input-group" ng-class="{'has-error' : userForm.lastname.$invalid && (userForm.lastname.$dirty||submitted)}">
                  <span class="input-group-addon">
                 <i class="glyphicon glyphicon-user"></i></span>
                 

                  <input type ="text" name="lastname"  placeholder ="Enter Last name" class="form-control" ng-model="lastname" required>

                  <p ng-show="userForm.lastname.$error.required && (userForm.lastname.$dirty || submitted)" class="help-block"></p>
                
                </div> <br>

<!--emailid-->
                <div class="input-group" ng-class="{ 'has-error' : userForm.email.$invalid && (userForm.email.$dirty || submitted)}">
                  <span class="input-group-addon">
                 <i class="glyphicon glyphicon-envelope"></i></span>
                 <input type="text" name="email" class="form-control" placeholder="Enter your Email Id"  ng-model ="email" id="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>

                 <span style="color:Red" ng-show="user.email.$dirty&&user.email.$error.pattern">Please Enter Valid Email</span>

                 <p ng-show="user.email.$error.required">Enter a valid email</p >

                 
                
                </div>
                 <br>

                 <!--phone number-->


                 <div class="input-group" ng-class="{ 'has-error' : userForm.phone.$invalid && (userForm.phone.$dirty || submitted)}">
                  <span class="input-group-addon">
                 <i class="glyphicon glyphicon-phone"></i></span>
                 <input type="text" name="phone" class="form-control" placeholder="Enter your Number"  ng-model ="phone" ng-pattern="/^[0-9]{1,10}$/" required>

                 <span style="color:Red" ng-show="user.phone.$dirty&&user.phone.$error.pattern">Please Enter Valid Email</span>

                 <p ng-show="user.phone.$error.required">Enter a valid phone</p >
               </div>
                 <br>
<!--password-->
                

                <div class="input-group" ng-class="{ 'has-error' : userForm.password.$invalid && (userForm.password.$dirty || submitted)}">
                  <span class="input-group-addon">
                 <i class="glyphicon glyphicon-lock"></i></span>
                 <input type="text" name="password" class="form-control" placeholder="Enter your password"  ng-model ="pwd"  required>

                 <span style="color:Red" ng-show="user.pwd.$dirty&&user.pwd.$error.pattern">Please Enter Password</span>

                 <p ng-show="user.pwd.$error.required"></p >
               </div>


                <br>
              



<!--confirm-->
<div class="input-group" ng-class="{ 'has-error' : userForm.confirmpwd.$invalid && (userForm.confirmpwd.$dirty || submitted)}">
  
                  <span class="input-group-addon">
                   <i class="glyphicon glyphicon-lock"></i></span>
                 
                  <input type ="password" placeholder ="Confirm Password" class="form-control" ng-model="confirmpwd" required>

                  <span style="color:Red" ng-show="pwd != confirmpwd">Password mismatch</span></div>

                    <br>
                    <div>
                  <input type="checkbox" checked="checked"> Remember me
          <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

                </div> <br>
                

                 <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" ng-disabled = "pwd != confirmpwd" ng-click="login(firstname,lastname,pwd,confirmpwd,email,phone)" class="signupbtn">Sign Up</button>  


                 <!-- <button class="btn btn-primary pull-right" ng-click="register()"> Register</a></button> -->

              </div>
</div>
</div>
</form>
</div>



